@tailwind base;
@tailwind components;
@tailwind utilities;
@import "swiper/swiper-bundle.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  scroll-behavior: smooth;
}
